<ion-view view-title="Login">
  <ion-content class="padding">
      <img src="/img/logo.png" class="img-align" alt="ion-leaf">
    <div class='list list-inset'>
        <label class="item item-input">
            <input type="text" placeholder="Username" ng-model="data.username">
        </label>
        <label class="item item-input">
            <input type="password" placeholder="Password" ng-model="data.password">
        </label>
    </div>
    <button class ="button button-block button-balanced" ng-click="login()">Login</button>
  </ion-content>
</ion-view>
