<div class="list">
  <label class="item item-input item-select">
    <div class="input-label">
      Make
    </div>
    <select>
      <option>Blue</option>
      <option selected>Green</option>
      <option>Red</option>
    </select>
  </label>
  <label class="item item-input item-select">
    <div class="input-label">
      Model
    </div>
    <select>
      <option>Blue</option>
      <option selected>Green</option>
      <option>Red</option>
    </select>
  </label>
  <label class="item item-input item-select">
    <div class="input-label">
      Year
    </div>
    <select>
      <option>Blue</option>
      <option selected>Green</option>
      <option>Red</option>
    </select>
  </label>
  <label class="item item-input item-select">
    <div class="input-label">
      Color
    </div>
    <select>
      <option>Blue</option>
      <option selected>Green</option>
      <option>Red</option>
      <option>White</option>
      <option>Black</option>
      <option>Yellow</option>
    </select>
  </label>
</div>