<ion-view view-title="My Trips">
  <ion-content>
    <ion-list>
      <ion-item class="item-remove-animate item-icon-right" ng-repeat="trip in data.mytrips" type="item-text-wrap" href="#/tab/mytrips/{{trip.id}}">
        <h2>{{trip.scheduledtrip.user.username}}</h2>
        <h2>{{trip.scheduledtrip.date}}</h2>
        <p>{{trip.lastText}}</p>
        <i class="icon ion-chevron-right icon-accessory"></i>

        <ion-option-button class="button-assertive" ng-click="remove(chat)">
          Delete
        </ion-option-button>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
