<ion-view view-title="Tripfinder">
  <ion-content>
    <div class="row">
      <div class="col">
        <label class="item item-input">
          <input type="text" placeholder="Start Address">
        </label>
      </div>

      <div class="col">
        <label class="item item-input">
          <input type="text" placeholder="Destination Address">
        </label>
      </div>

      <div class="col">
        <label class="item item-input">
          <span class="input-label">Date</span>
          <input type="date">
        </label>
      </div>

      <div class="col">
        <label class="item item-input">
          <span class="input-label">Date</span>
          <input type="date">
        </label>
      </div>

      <div class="col">
        <label class="item item-input item-select">
          <div class="input-label">
            Trips Within:
          </div>
          <select>
            <option selected>Not Selected</option>
            <option>5 Miles</option>
            <option>10 Miles</option>
            <option>15 Miles</option>
            <option>20 Miles</option>
            <option>25 Miles</option>
            <option>30 Miles</option>
          </select>
        </label>
      </div>

      <div class="col">
        <button class="button button-outline button-balanced button-align-right" ng-click="query()">Query</button>
      </div>

      <div class="col">
        <button class="button button-outline button-balanced button-align-right" ng-click="new()">Add New Trip</button>
      </div>
    </div>

    <ion-list>
    <ion-item class="" ng-repeat="trip in data.schtrips" type="item-text-wrap"> 
        <h2>{{scheduledtrip.user.username}}</h2>
        <h2>{{scheduledtrip.date}}</h2>
      </ion-item>
    </ion-list>

  </ion-content>
</ion-view>


