<ion-view view-title="Dashboard">
  <ion-content class="padding">
    <!-- TODO: ##### Replace Username Place Holder w/ AngJS ##### -->
    <div class="text-balanced banner-text">Username Place Holder</div>
    <div class="points text-balanced">Points</div>
    <div align="center">
    <table width=50%>
      <tr>
      <td><canvas id="co2" class="graphs" ></canvas></td>
      <td><canvas id="gas" class="graphs" ></canvas></td>
      <td><canvas id="money" class="graphs" ></canvas></td>
      </tr>
    </table>
    </div>

    <!--<div class="list card">-->
      <!--<div class="item item-divider">Upcoming</div>-->
      <!--<div class="item item-body">-->
        <!--<div>-->
          <!--You have <b>29</b> meetings on your calendar tomorrow.-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->
  </ion-content>
</ion-view>
