<ion-view view-title="Dashboard">
  <ion-content class="padding"></ion-content>
    <div class="text-balanced banner-text">{{$scope.data.name}}</div>
    <div class="points text-balanced">{{$scope.data.points}}</div>
    <div align="center">
    <table width=50%>
      <tr>
      <td><canvas id="co2" class="graphs" ></canvas></td>
      <td><canvas id="gas" class="graphs" ></canvas></td>
      <td><canvas id="money" class="graphs" ></canvas></td>
      </tr>
    </table>
    </div>


    <div>
      <button class="button button-clear button-balanced" href="#/tab/profile/addcar">
        Add Car
      </button>
    </div>
  </ion-content>
</ion-view>
