/* Empty. Add your own CSS if you like */
div.points {
    font-size: 80px;
    margin: auto;
    width: 30%;
    padding-top: 20px;
    padding-bottom: 60px;
    text-align: center;
    font-weight: bold;
}

div.text-balanced {
    color: #66cc33;
}

div.banner-text {
    text-align: center;
    font-size: 50px;
    padding-top: 15px;
    padding-bottom: 50px;
}

canvas.graphs {
    margin-left: auto;
    margin-right: auto;
    width: 150px;
    height: 400px;
    align: center;
    display: block;
}

button.button-align-right {
    float: right;
}

img.img-align {
    margin-left: auto;
    margin-right: auto;
    width: 279px;
    height: 197px;
    align: center;
    display: block;
}